main{
  display: flex;
  padding-top: 49px;
}

{
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Roboto', sans-serif;

}

.logo {
  padding-top: 63px;
  padding-left: 98px;
  font-size: 34px;
}

.title {
  color: black;
}

.title1 {
  color: aqua;
}

.nav{
  background-color: rgb(53,68,79);
  justify-content: center;

}

.container{
  width: 1280px;
  margin: 0 auto;
}

.header{
  display: flex;
  align-items: center;
  text-align: center;

  justify-content: center;
  margin: 0 auto;
}

.main-menu{
  width: 1280px;
  height: 69px;
  color: white;
  list-style-type: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid white;
}

.box-1{
  width: 160px;
}

.box-2{
  width: 330px;

}

.box-3{
  width: 153px;
  background-color: rgb(34, 47, 58, 1);

}

.box-4{
  width: 284px;
}

.box-5{
  border-right: 1px solid white;
  width: 220px;
}



.navigation{
  display: flex;
  flex-direction: column;
  width: 344px;
  height: 399px;
  justify-content: space-around;
  border-color: gray;
  border-style: solid ;
  border-width: 1px;
  list-style-type: none;

}


.main-nav{
  color: rgb(72, 88, 99, 1);
  font-size: 27px;

}

.nav1{
 padding-left: 44px;
}

.nav2{
  padding-left: 38px;
}

.nav3{
  padding-left: 42px;
}

.nav4{
  padding-left: 44px;
}

.nav5{
  padding-left: 44px;
}


.main-image{
  height: 529px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  display: flex;

}

.main-conteiner{
  display: flex;
  width: 1280px;
  gap: 50px;
}

.main-info{
  font-size: 18px;
}

.footer{
  display: flex;
  align-items: center;
  text-align: center;
 background-color: rgb(99, 105, 110, 0.48);
  justify-content: center;
  margin: 0 auto;
}

.main-footer{
  width: 1280px;
  height: 69px;
  color: black;
  list-style-type: none;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

}

.footer-nav{
  margin-left: 135px;
}

